/* Will have to edit body margins in order to get jumbotron to cover all of screen */
body {
    background-color: #B2FFA9!important;
}
.p-3 {
    padding: 0rem!important;
}
.bg-secondary {
    background-color: #B2FFA9!important;
}