/* Will have to edit body margins in order to get jumbotron to cover all of screen */
body {
    background-color: var(--midnight-green);
    font-family: 'Big Shoulders Display', cursive;
}
.p-3 {
    padding: 0rem!important;
}
.bg-secondary {
    background-color: var(--midnight-green)!important;
}