#contact {
    background-color: #3F2A2B;
    padding-bottom: 3em;
}

h2 {
    color: #FF4A1C;
}

.text-center button {
    background-color: #FF4a1c;
    color: black;
}
.form-group {
    color: #FF4a1c;
}
.form-control {
    background-color: #3F2A2B;
    color: #B2FFA9;
}