#contact {
    background-color: #3F2A2B;
    padding-bottom: 3em;
    border-radius: 125px 125px 0px 0px;
}

h2 {
    color: #FF4A1C;
}
.bubble {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: var(--orange);
    left: 85%;
    margin: -72px;
    border-radius: 50%;
    z-index: -1;
}
.bubbleOne {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: var(--orange);
    left: 15%;
    margin: -72px;
    border-radius: 50%;
    z-index: -1;
}
.smallBub {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color:var(--steel-teal) ;
    left: 3%;
    margin: -50px;
    border-radius: 50%;
    z-index: -1;
}
.smallBubOne {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: var(--steel-teal);
    left: 90%;
    margin: -50px;
    border-radius: 50%;
    z-index: -1;
}
.text-center button {
    background-color: #FF4a1c;
    color: black;
}
.form-group {
    color: #FF4a1c;
}
.form-control {
    background-color: #3F2A2B;
    color: var(--ash-grey);
}