.projectsTitle {
    margin-bottom: 1em;
    letter-spacing: 5px;
}
#projects {
    padding-bottom: 3em;
    color: #FF4A1C;
}
.card {
    background-color: var(--rich-black)!important;
    margin: 5px;
    border: 3px solid #FF4a1c;
}
.card-text {
    font-family: 'Lato', sans-serif;
}
.card-title {
    font-weight: 700;
}
element.style {
    width: 250px;
}
.btn-primary{
    background-color: var(--midnight-green);
    border: var(--steel-teal);
    width: 100px;
    color: var(--beige)!important;
}