:root {
    --orange: #FF4A1C;
    --blue-green: #B2FFA9;
    --brown: #3F2A2B;
    --grey: #565254;
    --black: #272727;
    --white: #fffbfe;
    --light-gray: #d0cfcf;
    --rich-black: #01161E;
    --midnight-green: #124559;
    --steel-teal: #598392;
    --ash-grey: #aec3b0;
    --beige: #eff6e0;
}